:root{
    --granite-gray: hsl(0, 0%, 40%);
    --go-green_50: hsla(0, 0%, 0%, 0.5);
    --go-green_8: hsla(145, 63%, 42%, 0.08);
    --go-green_5: hsla(145, 63%, 42%, 0.05);
    --light-gray: hsl(0, 0%, 80%);
    --mint-cream: hsl(160, 100%, 98%);
    --cultured: hsl(0, 0%, 93%);
    --go-green: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid{
  margin-top: 20px;
  width: 100%;
  height: 100vh;
  background: url(/img/bgd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color:var(--mint-cream);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.nav .logo h1{
    font-family: sans-serif;
    color:black;
    padding-left: 40px;
    font-size: 40px;
}

.nav .logo b{
    color: green;
    margin-left: 10px;
}
.nav ul{
    display: flex;
    list-style: none;
    margin-left: 300px;
}
.nav ul li{
    margin-right: 30px;
}
.nav ul li a{
    text-decoration:none;
    color: black;
    font-weight: 700;
    font-family: arial;
    padding-left: 40px;
    font-size: 17px;
    cursor: pointer; 
}
.content {
    display: grid;
    gap: 30px;
    margin-top:0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    grid-template-columns: auto 50%;
}
.content-left,
.content-right,
.content-centre {
    max-width: 100%;
}

.content .content-left{
    display: block;
    width: 100%;
}
.content .content-left .info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.content .content-left .info h2{
    font-size: 40px;
    font-family:sans-serif;
    margin-top: 250px;
    margin-bottom: 30px;
    color: #ffffff;
    padding-left: 60px;
}
.content .content-left .info p{
    font-size: 19px;
    font-family: sans-serif;
    margin-bottom: 30px;
    color: #ffffff;
    padding-left: 60px;
}
.content .content-left button {
    margin-left: 60px;
    padding: 10px 25px;
    background-color: green;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.grad{
    width: 100%;
    height: 100vh;
}
.content .content-right{
    display: block;
    width: 100%;
}
.content .content-right .info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.content .content-right .info h2{
    font-size: 50px;
    text-align: left;
    align-items: center;
    font-family:sans-serif;
    margin-top: 150px;
    margin-bottom: 10px;
    color: black;
}
.content .content-right .info h1{
    font-size: 30px;
    color: gray;
    margin-top: 10px;
}
.content .content-right .info ul{
    font-size: 20px;
    font-family: cuprum;
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
    padding-left: 60px;
}
.content .img {
    width: 65%;
    max-width: 70%;
    margin-top: 200px; 
    margin-left: 70px;
}
.grbd{
    width: 100%;
    height: 100vh;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}
.grbd .intern{
    width: 100%;
    position: relative;
    margin-top: 50px;
}
.grbd .intern h3{
    font-size: 40px;
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--go-green);
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 70px;
}
.grbd .intern h2{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--go-green);
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 70px;
}
.grbd .intern .card-list {
    display: grid;
    margin-left: 375px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.grbd .card-list .card {
    width: 100%;
    height: auto;
    display: block;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    background-color: var(--mint-cream);
    outline: 2px solid gray;
}
.grbd .card-list .card .food-title{
    padding: 40px 0 10px;
}
.grbd .card-list .card .food-title h1{
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    font-size: 25px;
    font-family: sans-serif;
}
.grbd .card .desc-food{
    font-size: 17px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    font-family:arial;
}
.grbd .card .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.grbd .card .price button {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    padding: 17px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 15px 10px 82px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.grbd .card .price button i {
    margin-left: 8px;
    font-size: 16px; 
}

.grbd .card .price button:hover {
    background-color: white;
    color: black;
    border: 3px solid black;
}
.grcd {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: black;
    margin-bottom: 50px;
    justify-content: center;
}

.grcd .service-i {
    width: calc(100% - 100px);
    position: relative;
    margin-top: 50px;
}
.grcd .service-i h3 {
    font-size: 40px;
    display: flex;
    margin-top: 75px;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 15px;
}

.grcd .service-i h2 {
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--light-gray);
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 50px;
}
.grcd .service-i .card-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 35px;
    max-width: 1200px; 
    margin-left:150px;
}

.grcd .card-list .card {
    width: 87%;
    height: 160px;
    display: block;
    padding: 10px;
    border-radius: 5px; 
    position: relative;
    background: var(--mint-cream);
    outline: 2px solid var(--light-gray);
}

.grcd .card-list .card:hover {
    background-color: var(--light-gray);
    color: black;
    border: 2px solid black;
}
.grcd .card-list .card .food-title{
    padding: 10px 0 10px;
    color:black;
}
.grcd .card-list .card .food-title h1{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    font-family:arial;
    margin-top: 1px;
    margin-bottom:5px;
}
.grcd .card-list .card .desc-food {
    font-size: 15px;
    font-weight: 500;
    font-family: arial;
    text-align:center;

}
.grcd .card .desc-food{
    font-size: 13px;
    text-align: center;
    font-weight: 550;
    margin-bottom: 20px;
    font-family: sans-serif;
}
.grud {
    width: 100%;
    height: 70vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.grud .list {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%;
}

.grud .nexus {
    text-align: left;
}

.grud h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.grud h2 {
    font-size: 18px;
    line-height: 1.9;
}
.nexus .icon {
    display: inline-block;
    width: 15px; 
    height: 15px;
    margin-right: 8px; 
}

.nexus .icon img {
    width: auto;
    height: auto;
    object-fit: cover; 
   
}
.nexus .websites .icon{
    margin-top: 10px;
    width: 25px; 
    height: 25px;
    margin-right: 8px; 
    border-radius: 50%; 
    cursor: pointer; 
    transition: transform 0.3s ease-in-out; 
}

.websites .icon img:hover {
    transform: scale(1.2);
}

footer {
    margin-top:0;
    background-color: var(--granite-gray);
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}
@media screen and (max-width: 768px) {
    .grid{
        margin-top:0;
        width: 200%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .nav .logo h1{
        font-family: sans-serif;
        padding-left: 0px;
        font-size: 18px;
    }
    .nav .logo b{
        margin-left:0;
    }
    .nav ul {
        margin-left: 0;
        text-align: center; 
    }

    .nav ul li {
        margin: 0 4px; 
    }

    .content {
        grid-template-columns: 100%;
    }

    .content .content-left .info h2,
    .content .content-left .info p,
    .content .content-left button {
        padding-left: 20px;
        margin-left: 0; 
        text-align: center;
        margin-bottom: 100px;
    }
    .grad{
        width: 200%;
        height: 130vh;
    }
    .content .img {
        width: max-content;  
        margin-top: 20px; 
        align-items: center;
    }
    .grbd{
        width: 200%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .grbd .intern h3{
        font-size: 30px;
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--go-green);
    }
    .grbd .intern h2{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .grbd .intern .card-list {
        margin-left: 0
    }

    .grbd .card-list .card {
        margin-left: 0; 
        margin-right: 0; 
    }
    .grcd{
        width:200%;
    }

    .grbd .card .price button {
        margin: 10px auto;
    }
    .grcd .service-i {
        width: 200%;
        margin-left: 0; 
    }
    .grcd .service-i h3 {
        font-size: 18px;
       text-align: center;
    }
    
    .grcd .service-i h2 {
        font-size: 18px;
        text-align: center;
    }
    .grcd .card-list .card .food-title h1{
        font-size: 16px;
        font-family:arial;
        margin-top: 1px;
        margin-bottom:5px;
    }
    .grcd .card-list .card .desc-food {
        font-size: 10px;
    
    }

    .grcd .service-i .card-list {
        flex-direction: row;
        margin-left:15px;
    }
    .grud{
        width: 200%;
    }
    .grud .list {
        width: 200%;
        margin-left: 15px;
        align-items: center;
    }
    .grud .list h3{
        font-size: 15px;
    }
    .grud .list h2{
        font-size: 10px;
    }

    .nexus .websites .icon {
        margin-top: 0; 
    }
    footer{
        width: 200%;
    }

    

  }